* {
  margin: 0;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: rgba(188, 195, 208, 0.5);
  opacity: 0;
  animation: fadeIn 0.4s forwards;
}

.content {
  position: relative;
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 16px;
  padding: 24px 24px 56px 24px;
  transform: scale(0.6);
  animation: scaleUp 0.4s forwards;
}

.name {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 40px;
}

.close {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.container {
  display: flex;

  & + & {
    margin-top: 14px;
  }
}

.col:nth-of-type(1) {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  max-width: 177px;
  flex-grow: 1;
}

.info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8189a3;
  max-width: 275px;
  flex-grow: 1.5;
}

.descr_bottom {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 40px 0 12px 0;
}

.info_bottom {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #8189a3;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  to {
    transform: scale(1);
  }
}
